<div class="lpGroup lpItemGroup">
    <div class="group-header item-group-header pointer" (click)="toggleExpandedGroup()">
        <span class="group-header_Toggle">
            <img class="group-header_ToggleIcon item-group-header_ToggleIcon" [class.rotate]="expandedState === 'in'" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAJCAYAAADkZNYtAAAACXBIWXMAAAsSAAALEgHS3X78AAAAgElEQVQY043PQQ2DQBAF0AcGWgk4KBJQwCKtlVAF7UjAAThAAijYXjY9NKTwb5N5k5+pcs5SSp3/WSNiqvq+n3BznEd9EkJbYzyJ3zUGzAfwGRH3qjzYYMJlB44R0UENEbGgw/YD59IMqpzzd5NSGvAq44YmItZdXA5aXLGUxm8+YQMu9hXPBTQAAAAASUVORK5CYII=" />
        </span>
        <span class="vertical-divide {{priorityColor}}"></span>
        <span class="group-header_GroupName">{{groupName}}</span>
        <span class="group-header_ItemCount">({{alarmList.length}})</span>
		<span *ngIf="multiSelect" class="select-all lpTabTray_Control" style="font-size:small; margin-top:10px; margin-right:5px" (click)="toggleAllAlarmsInGroup()">{{toggleDisplay}}</span>
    </div>
    <div class="lpGroupList lpItemGroupList" [@slideDown]="expandedState">
        <div *ngFor="let alarm of alarmList;trackBy: trackByAlarmFn">
            <!-- Alarm List Item component is using changeDetection: ng.core.ChangeDetectionStrategy.OnPush, so change detection will only be triggered when an input variable
                 is changed to a new value. Objects in javascript are mutable, so changing a property of the alarm object will not be detected and trigger change detection.
                 Any object property that can change is passed in to the component as an input. Since these are primitive types, they are immutable and when changed will trigger change dection-->
            <alarm-list-item id="alarm-item-{{alarm.Id}}" [alarm]="alarm" [multiSelect]="multiSelect" [mapViewOptions]="mapViewOptions" [Selected]="alarm.Selected" [Expanded]="alarm.Expanded"></alarm-list-item>
        </div>
    </div>
</div>