:host {
    position: absolute;
    z-index: 1300;
    
}

.transition {
    transition: all .2s ease-in-out;
}

.modalShield {
    z-index:1299;
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
}