:host {
    position:relative;
    border:1px solid #d1d3d4;
    height:100%;
    color:#ffffff;
}

.title, .content,:host {
    float: left;
    position: relative;
    width: 100%;
}

.title {
    height:24px;
    background-color:#eaeaea;
    font-size:15px;
    color:#535456;
    padding: 2px 0 2px 10px;
}

.content {
    height: calc(100% - 24px);
    background-color:#000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-content {
    height: 131px;
}

img {
    position: absolute;
}

.direction {
    float: left;
    right: 60px;
    bottom: 5px;
    position: absolute;
    transform-origin: center center;
    transition: transform 300ms ease;
    width: 48px;
    height: 48px;
}

.heading {
    position:absolute;
    bottom: 15px;
    right: 15px;
    text-shadow: 2px 0px 6px #333333; 
    width:47px;
}

.heading-degrees {
    font-size:26px;
    width:100%;
}

.heading-direction {
    font-size:14px;
    width:100%;
}

