<modal #aboutModal
       [hideHeader]="true" 
       [hideFooter]="true"
       [disableDraggable]="true">
    <div class="modal-dialog-body modal-dialog-center about-dialog-overflow">
        <div class="about-dialog-textbox">© 2017 Hexagon AB and/or its subsidiaries and affiliates.  All rights reserved.

                Warning: This computer program, including software, icons, graphical symbols, file formats, and audio-visual displays; may be used only as permitted under the applicable software license agreement; contains confidential and proprietary information of Intergraph Corporation and/or third parties which is protected by patent, trademark, copyright, and/or trade secret law and may not be provided or otherwise made available without proper authorization.
        </div>          
        <img src="../../../Content/images/about.png" />
    </div>
</modal>